.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 45px);
}

.welcome h1,
.welcome p {
  width: 50%;
}

.welcome h1 {
  text-align: center;
  font-size: xx-large;
}

.welcome p {
  padding-left: 5vw;
  border-left: 2px solid white;
}

.welcome p.light {
  border-left: 2px solid black;
}

.welcome p.pink {
  border-left: 2px solid var(--pink-dark);
}
