<app-navbar></app-navbar>
<main style="margin-top: 45px">
  <div class="flex-col">
    <section class="welcome">
      <h1>Benvenuti!</h1>
      <p>Sono uno sviluppatore Software italiano. Nato in Sardegna, mi son trasferito in Toscana per studiare Informatica all'Università di Pisa. Laureato in corso, ora lavoro presso un'azienda multinazionale per la consulenza informatica.</p>
    </section>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </div>
</main>
<router-outlet></router-outlet>
